*.bin
*.crf
*.d
*.o
*.map
*.htm
*.khuang
*.scvd
*.dep
*.iex
*.axf
*.lnp
*.txt
*.lst
*.IAB
*.IAD
*.IMD
*.IMB
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
*.pbi
*.xcl
*.pbd
*.browse
*.linf
*.pbw
*.sim
*.crun
*.bat
*.ps1
*.dnx
*.wsdt
*.jlink
*.dbgdt
